/* phone */
@media (max-width: 767px) {
    .navbar-toggler-icon {
        width: 1.2em;
    }
    .nav-logo {
        width: 8em !important;
    }

    .navbar-toggler {
        padding: 0.2em 0.5em !important;
    }

    .nav-tab {
        font-size: 0.8em;
    }

    .nav-btn {
        width: 90% !important;
        margin-top: 1em !important;
    }

    #title {
        font-size: 1.2em !important;
        line-height: 1.8em;
    }

    h1 {
        font-size: 1.2em !important;
    }

    h2 {
        font-size: 1em !important;
    }

    h3 {
        font-size: 0.8em !important;
    }

    p {
        font-size: 0.6em !important;
    }

    .nav-active {
        border: none !important;
    }

    .nav-tab {
        border-bottom: none !important;
    }

    /* landing phone */
    #landing {
        padding: 15% 1em;
    }

    .landing-content-R {
        width: 100% !important;
        margin-left: 0 !important;
        text-align: center !important;
    }

    .services-icons {
        width: 2em;
    }

    .service-card {
        width: 80%;
        margin: auto;
    }

    #welcome-txt {
        text-align: center;
    }

    #identity-div {
        text-align: center !important;
    }

    #identity-txt {
        margin-bottom: 0.5em !important;
    }

    #landing {
        height: 250px !important;
    }

    /* services phone */
    .service-box {
        width: 30vh !important;
        margin: 0em !important;
        box-shadow: none !important;
    }

    .service-box h3 {
        font-size: 0.6em !important;
        margin-bottom: 0.5em !important;
    }

    #service-landing {
        height: 140px !important;
    }

    .landing-boxes {
        height: 50px !important;
    }

    .landing-boxes-small {
        height: 30px !important;
    }

    .form-col,
    .form-group {
        width: 100% !important;
        margin: 0 !important;
    }

    label {
        font-size: 0.7em;
    }

    input {
        font-size: 0.7em !important;
    }

    /* footer phone */
    #footer {
        padding: 1em 2em;
        z-index: 1;
    }

    .footer-logo {
        width: 200px !important;
        margin-top: 2em;
        margin-bottom: 1em !important;
    }

    .footer-link a {
        margin: 0 !important;
        font-size: 0.7em;
    }

    .contacts {
        margin-top: 0.5em;
        margin-left: 1em;
        width: 100% !important;
    }

    .contact-img {
        height: 1.1em;
        margin-top: 0;
    }

    .theme-btn {
        font-size: 0.7em !important;
    }

    /* about pg phone */
    .header-img {
        height: 100px !important;
        padding-top: 30px !important;
    }

    .about-content-sub {
        margin-bottom: 2em !important;
        display: block;
    }

    .about-img {
        width: 100% !important;
    }

    .about-content {
        padding-bottom: 1em !important;
    }

    /* about us philosophy */
    #phil-box .col {
        padding: 1em !important;
    }

    #phil-box {
        margin: 0 !important;
        padding: 1em !important;
    }

    #phil-box h3 {
        margin-top: 1em !important;
    }

    #phil-section {
        padding: 0 !important;
    }

    .value {
        margin: 1em 0.2em !important;
        width: 10em !important;
        padding: 0.5em 2em !important;
        text-align: center !important;
    }

    /* service page phone */
    .service-L {
        width: 100% !important;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
    }

    .service-R {
        width: 100% !important;
        padding: 0 1em !important;
    }

    .service-page-box {
        margin: 0 auto 2em auto !important;
        width: 250px !important;
        min-width: 200px !important;
    }

    .service-R .row {
        margin-top: 0 !important;
    }

    .dropdown-item {
        font-size: 0.7em !important;
    }

    /* form toggle */
    .form-toggle form {
        max-height: 520px;
        max-width: 85vw;
        padding: 1em 0.5em;
        margin: 1em 0.5em;
        height: 75vh;
        overflow: scroll;
    }
    .form-toggle form button {
        margin-top: 1em;
    }
    .form-toggle-chat {
        width: 4em;
        height: 4em;
    }
    .form-toggle-icon {
        width: 2em;
        padding-top: 0.5em;
    }

    /* toggle form */
    @keyframes slide-form {
        from {
            padding: 0;
            height: 0;
            overflow: hidden;
        }
        to {
            height: 75vh;
            overflow: hidden;
        }
    }

    .form-toggle form {
        animation-name: slide-form;
        animation-duration: 0.2s;
    }
}
