/* ipad */
@media (min-width: 767px) and (max-width: 1050px) {
    #title {
        font-size: 2em !important;
    }

    h1 {
        font-size: 1.5em !important;
    }

    h2 {
        font-size: 1em !important;
    }

    h3 {
        font-size: 0.9em !important;
    }

    p {
        font-size: 0.7em !important;
    }

    label {
        font-size: 0.8em;
    }

    .custom-nav {
        font-size: 0.6em !important;
        background-color: white;
        padding: 0.5em !important;
        padding-right: 10% !important;
    }

    .dropdown-item {
        font-size: 0.7em !important;
    }

    .footer-logo {
        width: 10em !important;
    }

    #landing {
        max-height: 350px !important;
        padding-top: 10%;
    }

    #service-landing {
        max-height: 150px !important;
    }

    .service-box {
        margin: -3em 0.5em 0 0.5em;
        padding: 1.5em 0.5em 0.5em 0.5em;
    }

    .landing-boxes-small {
        height: 5vw !important;
    }

    .landing-boxes {
        height: 6vw !important;
    }

    input {
        font-size: 0.8em !important;
    }

    .theme-btn {
        font-size: 0.8em !important;
    }

    /* footer */
    .footer-link a {
        font-size: 0.8em;
    }

    /* about pg */
    .header-img {
        height: 200px !important;
        padding-top: 80px !important;
    }

    .about-content-sub {
        margin-bottom: 2em !important;
    }

    .about-text-R {
        padding-left: 2em !important;
    }

    .about-content {
        padding-bottom: 6em !important;
    }

    .contact-img {
        height: 1.2em;
        margin-top: 0;
    }
    /* about us philosophy */
    #phil-box .col {
        padding: 1em !important;
    }

    #phil-box {
        margin-top: -100px !important;
    }

    #phil-box h3 {
        margin-top: 1em !important;
    }

    .value {
        padding: 1em 3em !important;
    }

    /* service page */
    .service-L {
        width: 35% !important;
    }

    .service-R {
        width: 65% !important;
        padding: 0 !important;
    }

    .service-page-box {
        margin: 0 !important;
        width: 250px !important;
        max-width: 90%;
        min-width: 10% !important;
    }

    /* toggle form */
    @keyframes slide-form {
        from {
            padding: 0;
            height: 0;
            overflow: hidden;
        }
        to {
            height: 480px;
            overflow: hidden;
        }
    }

    .form-toggle form {
        animation-name: slide-form;
        animation-duration: 0.2s;
    }
}
